[Unit]
Description=Weather Dashboard Service
After=network.target

[Service]
WorkingDirectory=__SPAINIFY_ROOT__/apps/weather-dashboard
ExecStart=/usr/bin/npm run serve:prod
Restart=always
User=__SPAINIFY_USER__

[Install]
WantedBy=multi-user.target
